@import "../../themes/generated/variables.base";

.form-button {
  margin-top: 20px;
  margin-right: 20px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  .dx-field-item-content {
      display: flex;
      gap: 10px
  }
}
.setting-form {
  margin-top: 7px;
  padding: 5px;

  .dx-field-item-label {
    pointer-events: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    .dx-field-item-custom-label-content {
      display: initial;
    }
    svg {
      color: grey
    }
  }

}
.screen-x-small, .screen-small
{
  .setting-form {
    .dx-field-item-content.dx-field-item-content-location-bottom {
      width: 100%;
    }
  }
  .temperature-graph-chart {
    width: 100%;
  }
  .temperature-graph-grid {
    width: 100%;
  }
  .accounts-grid {
    width:  100%;
  }
  .schedules-grid {
    width: 100%;
  }
  .app-page-toolbar {
    width: 100%;
  }
}
.screen-x-large, .screen-large
{
  .setting-form {
    .dx-field-item-content.dx-field-item-content-location-bottom {
      width: 800px;
    }
  }
  .temperature-graph-chart {
    width: 800px;
  }
  .schedules-grid {
    width: 800px;
  }
  .temperature-graph-grid {
    width: 800px;
  }
  .app-page-toolbar {
    width: 800px;
  }
  .accounts-grid {
    width: 800px;
  }
}

.setting-grid {
  margin-top: 10px;
  padding: 5px;
}