__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git/
README.md

.venv/
requests.http
.vscode/

requirements-dev.txt
.dockerignore
.gitignore
*.toml
*.yaml
Dockerfile.*
.pylintrc
readme.md

**/__pycache__