@import "./themes/variables";
@import "./themes/generated/variables.base.scss";

.app {
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;
}

.app.screen-x-small .content {
  line-height: 1.35;

  h2 {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 3px;
  }
}

.app .content {
  line-height: 1.35;

  h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.app .content-block {
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 10px;
}

.app.screen-x-small .content-block {
  margin-left: 15px;
  margin-right: 15px;
}

.responsive-paddings {
  padding: 10px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer>.dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
  height: 100%;

  &>.dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 45px;

html,
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.dx-popup-title .dx-toolbar-items-container {
  height: 46px !important;
}

.dx-dialog .dx-overlay-content.dx-popup-normal {
  min-width: 300px !important;
  max-width: 450px
}

.pac-container {
  z-index: 15000 !important;
}

/*List*/

.screen-x-small .app-list {
  .dx-list-item-content {
    font-size: 14px;
  }

  .dx-list-item-content {
    padding-left: 7px;
    padding-right: 10px;
  }
}

.app-list {
  .dx-list-item-selected svg {
    color: $base-accent;
  }

  .dx-list-item.dx-list-item-selected {
    color: $base-accent !important;
  }

  .dx-list-item.dx-state-hover .dx-radiobutton-icon::before {
    border-color: initial !important;
  }

  .dx-radiobutton-icon-checked::before {
    color: $base-accent;
  }
}

/*TabPanel*/

  .dx-nodata {
    color: #757575;
    padding: 5px;
    position: initial;
    width: 100%;
    transform: none;
    font-size: inherit;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* Grids */
.app-grid {
  .dx-overlay-wrapper.dx-loadpanel-wrapper {
    display: none;
  }

  .dx-master-detail-row {
    .dx-master-detail-cell {
      padding-top: 10px;
    }
  }

  .dx-toolbar .dx-toolbar-items-container {
    height: 45px;
  }

  .dx-command-select {
    padding-left: 4px !important;
  }

  .dx-datagrid-search-panel {
    width: 250px !important;
  }

  .dx-row .dx-item-content svg {
    color: inherit;
  }

  .dx-row svg {
    color: #464646;
  }

  tr.dx-row-focused:not(.dx-master-detail-row) td svg {
    color: #ffffff;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.app-grid.compact .dx-datagrid .dx-row>td {
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 18px;
}

.app-grid-detail {
  .dx-datagrid-borders>.dx-datagrid-header-panel {
    padding: 0;
  }
.dx-toast-message {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.6em;
  color: #464646;
}

.dx-toast-stack {
  padding: 10px;
  padding-left: 5px;
}
}

.app-grid {
  .dx-datagrid .dx-row>td {
    padding: 14px 10px !important;
    font-size: 14px;
    line-height: 20px;
  }
}

/* Buttons */
.app-command-button {
  border-radius: 50%;
  box-shadow: 0 0 transparent;
}

.app-command-button-small {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.dx-row-focused .app-command-button {
  background-color: inherit;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.app-command-button .dx-button-content {
  padding: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popups */
.app-popup {
  outline: 0;

  .dx-popup-content {
    padding: 10px;
  }

  .dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    height: 46px;
  }

  .nodata {
    position: relative;
    margin: 20px;
  }

  .popup-form-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 40px;
    padding: 5px;

    .popup-form-buttons-row {
      padding-top: 10px;

      display: grid;
      grid-template-columns: 1fr 100px 100px;
      gap: 10px
    }
  }

  .app-popup-header-menu-button {
    border-radius: 50%;
    box-shadow: none;
    padding-top: 3px;
  }
}

/* Simple table*/
.simple-grid {
  width: 100%;
  font-size: 14px;
  line-height: initial;
  border-collapse: collapse !important;
  empty-cells: show;
  border-spacing: 0;
  border: 1px Solid #c0c0c0;
  margin: 10px 0 10px 0;

  tbody td {
    border: 1px solid #c0c0c0;
    padding: 5px 5px;
    text-align: left;
  }

  thead th {
    font-weight: bold;
    border: 1px Solid #c0c0c0;
    padding: 3px 6px 4px;
    background-color: #f0f0f0;
  }
}

/* Badges */
.badge {
  border-radius: 5px;
  padding: 4px 4px;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.badge-important {
  background-color: #ff5722;
}

.dx-empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-accent;
  font-size: 16px;
  text-align: center;
  padding: 16px;
}

.dx-popup {
  // margin: 10px;
}

.dx-toast-message {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.6em;
  // color: #464646;
}

.dx-toast-stack {
  padding: 10px;
  padding-left: 0px;
}

.dx-toast-content {
  width: 100% !important;
}
.dx-toast-wrapper {
  margin-top: 5px;
}